
.playful {
    background-color: rgba(236, 9, 129, 0.28);
}

h2 {
    color: white;
    font-size: 2em;
}

.fixheader {
   
}
label {
    color: darkslategray;
    font-weight: 700;
    padding: 3px;
}
body {
    background-color: lightgray;
}
.checkboxgroup {
    display: inline-block;
    text-align: center;
}

    .checkboxgroup label {
        display: block;
    }